body {
  background: #eee;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.inactive {
  opacity: 0;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.incoming {
  background-color: #afebe5;
}

.old {
  background-color: white;
  transition: background-color 1.5s linear;
}

.btn-expand {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  text-align: right;
}

.card-header {
  padding: 0;
}

.card-body {
  padding: 8px;
}
